
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Script.VerifyLoginLogout"/>
      <class name="Script.VerifyVersion"/>
      <class name="Script.VerifyInvalidLogin"/>
      <class name="Script.verifyLoginPage"/>
    </classes>
  </test> 
</suite> 
